div#menu {
    position:fixed;
    margin-top: 25px;
    margin-left: -10px;
    border-radius: 8px;
    z-index: 1;
    display:block;
    float:left;
    background-color: rgb(18, 74, 74);
    width: 200px;
    height: 500px;
    box-shadow:
	 rgb(0 0 0 / 12%) 0 0.55009px 2.4261px,
	 rgb(0 0 0 / 24%) 0 1.01372px 2.32903px;
}

#nav {
    position:fixed;
    float:right;
    z-index: 1;
}

nl {
    padding-left: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
}